.flex-col-container {
  display: flex;
  flex-direction: column; /* 아이템들을 세로로 정렬 */
  align-items: center;
  border: 2px solid navy;
  gap: 12px; /* 아이템 간의 간격 */
  padding: 16px;
  border-radius: 0.75rem; /* 16px == 1rem */
  margin-top: 40px;
  margin-left: 20px;
  height: 360px;
}

.full-cover-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-title {
  overflow: hidden;
  width: 10rem;
  text-overflow: ellipsis; /* 넘치면 ...*/
  white-space: nowrap; /* 한줄로 */
  font-size: 1.125rem;
  color: black;
}

.add-cart-btn-wrapper {
  display: flex;
  align-items: center; /* 세로축 중앙 정렬 */
  justify-content: center; /* 가로축 중앙 정렬 */
  width: 100%;
}

.add-cart-btn {
  background: navy;
  color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: bold;
}